<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liverpool FC</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
        <a class="nav-link text-white active h5 text-stroke" href="/home">Liverpool FC</a>
        <a class="nav-link text-white active h5 text-stroke" href="/enroll">Enroll</a>
        <a class="nav-link text-white active h5 text-stroke" href="/news">News</a>
        <a class="nav-link text-white active h5 text-stroke" href="/membership">Membership</a>
        <a class="nav-link text-white active h5 text-stroke" href="/album">Album</a>
        <a class="nav-link text-white active h5 text-stroke" href="/about">About</a>
        <a class="nav-link text-white active h5 text-stroke" href="/facilities">Facilities</a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5 text-stroke" href="/login">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5 text-stroke" href="/register">Register</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5 text-stroke" href="/home">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<footer>
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white text-stroke fixed-bottom">
            © Liverpool FC Academy 2024. You'll Never Walk Alone.
        </div>
    </div>
</footer>
</body>
</html>




