<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
<header th:replace="fragments/commons::nav"></header>



<section class="py-3 py-md-5">
    <div class="container mx-auto text-center" style="max-width: 900px;">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center justify-content-center">
            <div class="col-12">
                <h2 class="mb-3 text-white">About Us</h2>
                <p class="lead fs-4 text-white mb-3">At Liverpool FC Youth Academy, we nurture the talents of young footballers to help them reach their full potential on and off the pitch. Our academy is dedicated to developing the next generation of football stars. With top-notch facilities, experienced coaching staff, and a focus on holistic development, we ensure our players grow both as athletes and individuals.</p>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <h2 class="h4 mb-3 text-white">Holistic Training</h2>
                        <p class="text-white mb-0">We focus on developing well-rounded players through rigorous training and personal development programs that hone their skills, discipline, and sportsmanship.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <h2 class="h4 mb-3 text-white">World-Class Facilities</h2>
                        <p class="text-white mb-0">Our state-of-the-art facilities provide the ideal environment for players to practice, compete, and thrive. We invest in the best to ensure our players have every advantage.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <h2 class="h4 mb-3 text-white">Experienced Coaching Staff</h2>
                        <p class="text-white mb-0">Our team of experienced coaches and mentors bring a wealth of knowledge and passion to the academy. They are dedicated to guiding each player through their journey to excellence.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <h2 class="h4 mb-3 text-white">Community and Culture</h2>
                        <p class="text-white mb-0">We foster a sense of community and belonging. Players, families, and staff are united by a shared love for football and the enduring spirit of Liverpool FC.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>