<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>



            <!-- Central Content with Transparent Effect -->
            <div style="height: 7rem;"></div>
            <div class="content d-flex flex-column align-items-center justify-content-center bg-opacity-50 p-4 pt-5 mt-5 rounded-3">
                <h1 class="display-4 text-white">Welcome to Liverpool FC Academy</h1>
                <p class="lead text-white text-center px-5">We are delighted to have you join us at the Liverpool FC Academy, where we are dedicated to fostering the next generation of football talent. Our academy is not just a training ground but a place where dreams take flight and young athletes are equipped with the skills and knowledge to excel both on and off the pitch.</p>
                <a href="/about" class="btn btn-primary btn-lg mt-3">About us</a>
            </div>


<footer th:replace="fragments/commons::footer"></footer>




</body>

</html>