<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>

<header th:replace="fragments/commons::nav"></header>



    

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-white">Enrollment Plan</h1>
        <p class="lead text-white">Choose the perfect plan to get the most out of your Liverpool FC experience. Whether you are an aspiring player, a dedicated fan, or looking to immerse yourself in the club’s rich legacy, we have a plan tailored just for you. Save up to $30 on select packages and gain access to exclusive benefits, premium content, and unforgettable experiences. Join us today and become a part of the Liverpool FC family!</p>
    </div>
    

    <div class="container mt-5">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow" >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">1 Month</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Access to free articles</li>
                        <li>Weekly match highlights</li>
                        <li>Email updates</li>
                        <li>Community forum access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Sign up</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">3 Months</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$35 </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>All Basic Fan features</li>
                        <li>Live match updates</li>
                        <li>Exclusive articles and videos</li>
                        <li>Ad-free experience</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Sign up</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">6 Months</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$60 </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>All Pro Supporter features</li>
                        <li>Priority customer support</li>
                        <li>Monthly exclusive interviews</li>
                        <li>VIP match tickets giveaway</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Sign up</button>
                </div>
            </div>
        </div>
    </div>


<footer th:replace="fragments/commons::footer"></footer>

    

</body>

</html>