<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/commons::head"></head>
<body>


<header th:replace="fragments/commons::nav"></header>

    <!-- register form -->
    <section class="register-form container col-ld-4 mx-auto mt-5">
        <h1 class="text-center mt-1"><span class="badge badge-pill badge-dark">Register</span></h1>
        <hr class="hr-3 w-25 bg-white" />
        <form class="mx-auto w-25 bg-blur rounded" method="" action="">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2 text-white">Username</label>
                </div>

                <input type="text" class="form-control" id="username" name="username" />
                <small class="invalid-feedback text-danger">Username error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="email" class="h4 mb-2">Email</label>
                </div>
                <input type="email" class="form-control" id="email" name="email" />
                <small class="invalid-feedback text-danger">Email error message</small>
            </div>

            
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="full-name" class="h4 mb-2">Full Name</label>
                </div>
                <input type="full-name" class="form-control" id="full-name" name="full-name" />
                <small class="invalid-feedback text-danger">Full name error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password" name="password" />
                <small class="invalid-feedback text-danger">Password error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success  mb-3" value="Register">Register</button>
            </div>
        </form>
    </section>











<footer th:replace="fragments/commons::footer"></footer>










    <script src="js/bootstrap.js"></script>
</body>

</html>